{% extends "chat/layout.html" %}

{% block title %} Password Reset {% endblock %}
{% block body %}

    <div class="row login-row">
        <div class="login-nav">
            <span>
                <button id="open-left-sidebar">
                    <div></div>
                    <div></div>
                    <div></div>
                </button>
            </span>
            <span>
                <button id="open-friend-sidebar"><h1><i class="fas fa-user-friends"></i></h1></button>
            </span>
        </div>
        <div class="col px-0">
            <div class="login-container">
                <div class="login-img-con" id="login-img-con">
                    
                </div>
                <div class="mt-4"></div>
                <div class="login-header">
                    <h2>Password Reset</h2>
                </div>
                <div class="login-form">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="login-input-group">
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">
                                    <i class="bi bi-envelope-fill"></i>
                                </span>
                               {{ form }}
                            </div>
                        </div>
                        
                        <div class="login-submit">
                            <input type="submit" value="Send Link">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById("id_email").setAttribute("placeholder", "Email")
    </script>
{% endblock %}