{% extends "chat/layout.html" %}
{% load static %}

{% block title %} Password Reset {% endblock %}
{% block body %}

    <div class="row login-row">
        <div class="login-nav">
            <span>
                <button id="open-left-sidebar">
                    <div></div>
                    <div></div>
                    <div></div>
                </button>
            </span>
            <span>
                <button id="open-friend-sidebar"><h1><i class="fas fa-user-friends"></i></h1></button>
            </span>
        </div>
        <div class="col px-0">
            <div class="login-container">
                <div class="login-img-con" id="login-img-con">
                    
                </div>
                <div class="mt-4"></div>
                <div class="login-header">
                    <h2>Password Reset</h2>
                </div>
                <div class="login-form">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="reset-password-fields">
                            {{ form }}
                        </div>
                        
                        <div class="login-submit">
                            <input type="submit" value="Reset Password">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById("id_new_password1").setAttribute("placeholder", "Password")
        document.getElementById("id_new_password2").setAttribute("placeholder", "Confirm Password")
    </script>
{% endblock %}